@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

/* Globales */
:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784D3C;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fuenteParrafos);
    line-height: 2;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuenteHeading);
}

a {
    text-decoration: none;
    color: var(--blanco);
}

/* Header */

header {
    background-image: url(../img/banner.jpg);
    height: 25em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.contenedor {
    width: 90%;
    margin: auto;
}

.menu {
    padding-top: 2em;
}

@media (min-width: 850px) {
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo-nombre {
    color: var(--blanco);
    font-weight: 400;
    font-size: 2.5em;
    text-align: center;
}

.resaltado-logo {
    font-weight: 700;
}

nav ul {
    display: flex;
    gap: 1.5em;
    list-style: none;
    justify-content: center;
}

nav ul li a {
    color: var(--blanco);
    font-size: 1em;
}

.header-texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 5em;
}

@media (min-width: 850) {
    .header-texto {
        margin-top: 7em;
    }
}

.eslogan {
    font-size: 1.5em;
}

/* Principal */

.plantilla-contenido {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2em;
}

h2 {
    font-size: 2em;
}

main section p {
    margin-bottom: 1em;
}

.entrada {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.entrada:last-of-type {
    border: none;
    margin-bottom: 0;
}

.entrada-imagen img {
    width: 100%;
    height: auto;
    display: block;
}

.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1em 2em;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1em;
    border: none;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
    }
}

.boton:hover {
    cursor: pointer;
}

.boton-primario {
    background-color: var(--negro);
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.5em;
    line-height: 1.5;
}

aside article p {
    margin-bottom: 20px;
}
.boton-secundario {
    background-color: var(--primario);
}

/* Footer */

footer {
    background-color: var(--negro);
    padding-bottom: 2em;
    margin-top: 2em;
}

/***************************** QUIENES SOMOS **********************************/

.historia {
    display: flex;
    align-items: flex-start;
    gap: 2em;
    padding: 2em;
    max-width: 72em;
    margin: 0 auto;
}

.historia-imagen {
    max-width: 21.8em; /* Puedes ajustar este tamaño */
}

.historia-imagen img {
    width: 100%;
    border-radius: 0.5em;
    object-fit: cover;
    box-shadow: 0 1em 1em rgba(0, 0, 0, 0.2);
    display: block;
}

.historia-texto {
    flex: 1;
    font-size: 1.1em;
    line-height: 1.8em;
    color: #333;
    text-align: justify;
}

.nuestras-pasiones {
    background-image: url(../img/close-up-taza-de-cafe-con-granos-tostados.jpg);
    background-position: 0%;
    background-size: cover;
    padding: 1em 2em 2em; /* Espacio arriba, lados y más abajo */
    text-align: center;
    width: 100%;
    margin: 0; /* importante: elimina espacio hacia abajo */
}

.claves h2 {
    color: var(--primario);
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin-bottom: 0em;
    font-weight: bold;
    color: var(--blanco);
}

.claves {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
    text-align: center;
}

.claves article {
    width: 15em;
    background-color: #fff;
    border-radius: 1em;
    padding: 1.5em 1em;
    box-shadow: 0 0.375em 0.625em rgba(0, 0, 0, 0.08); /* 6px 10px */
    transition: transform 0.3s ease;
}

.claves article img{
    width: 11em;
}

.claves article:hover {
    transform: translateY(-0.3em);
}

.claves article h3 {
    font-size: 1.1em;
    font-weight: bold;
    color: #2d2d2d;
    margin-bottom: 0.7em;
}

.claves article p {
    font-size: 0.95em;
    line-height: 1.5em;
    color: #555;
}