@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

/* Globales */
:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784D3C;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fuenteParrafos);
    line-height: 2;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuenteHeading);
}

a {
    text-decoration: none;
    color: var(--blanco);
}

/* Header */

header {
    background-image: url(../img/banner.jpg);
    height: 25em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.contenedor {
    width: 90%;
    margin: auto;
}

.menu {
    padding-top: 2em;
}

@media (min-width: 850px) {
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo-nombre {
    color: var(--blanco);
    font-weight: 400;
    font-size: 2.5em;
    text-align: center;
}

.resaltado-logo {
    font-weight: 700;
}

nav ul {
    display: flex;
    gap: 1.5em;
    list-style: none;
    justify-content: center;
}

nav ul li a {
    color: var(--blanco);
    font-size: 1em;
}

.header-texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 5em;
}

@media (min-width: 850) {
    .header-texto {
        margin-top: 7em;
    }
}

.eslogan {
    font-size: 1.5em;
}

/* Principal */

.plantilla-contenido {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2em;
}

h2 {
    font-size: 2em;
}

main section p {
    margin-bottom: 1em;
}

.entrada {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.entrada:last-of-type {
    border: none;
    margin-bottom: 0;
}

.entrada-imagen img {
    width: 100%;
    height: auto;
    display: block;
}

.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1em 2em;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1em;
    border: none;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
    }
}

.boton:hover {
    cursor: pointer;
}

.boton-primario {
    background-color: var(--negro);
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.5em;
    line-height: 1.5;
}

aside article p {
    margin-bottom: 20px;
}
.boton-secundario {
    background-color: var(--primario);
}

/* Footer */

footer {
    background-color: var(--negro);
    padding-bottom: 2em;
    margin-top: 2em;
}


/***************************** QUIENES SOMOS **********************************/

.parrafoquienessomos{
    display: flex;
    position: relative;
    bottom: 4em;
    width: 60em;
    padding-bottom: 2em;
    text-align: justify;
    margin: auto; 
}
/***************************** CONTACTO **********************************/
h2{
    text-align: center;
}
form{
    margin: 0 auto;
    text-align: left;
    padding: 0 5px;
    width: 600px;
    height: 500px;
    border: 5px outset var(--primario);
    border-radius: 10px;
    background-color: var(--gris);
    font-size: 16px;
    display: flex; 
    flex-direction: column; 
    
}
.datos_personales label{
    margin-left: 5px;
    text-align: left;
}
#motivo_contacto{
    margin-left: 5px;
}
#comentarios{    
    height: 100px;      
    overflow-y: auto;       
    width: 100%;             
}

.button{
    text-align: center;
}
.button input{
    border: 1px solid var(--primario);
    background-color: var(--primario);
    font-size: 18px;
    color: var(--blanco);
    width: 100px;
    height: 50px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 20px;
}
@media (max-width: 528px){
    form {
        width: 95%;
        height: auto;
        padding: 1rem;
      }
      #comentarios {
        height: auto;
        min-height: 100px;
      }
      
}
/***************************** Area Actuacion **********************************/
main{
    margin: 0 50px;
 }

.introduccion{
    text-align: center;
    margin-top: 20px;
}

.origen, .empaquetado-envio{
    margin: 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.procesado{
    margin: 0 200px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
}
img{
    width: 25rem;
    height: auto;
}
.text-origen{
    width: 50%;
}
@media (max-width: 528px){
    main{
        margin: 0 10px;
    }
    .origen, .procesado, .empaquetado-envio{
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }
    
    .text-origen{
        width: auto;
    }
    img{
        width: 100%;
        max-width: 300px; 
        height: auto;
    }
      
}
@media (max-width: 768px){
    main{
        margin: 0 10px;
    }
    .origen, .procesado, .empaquetado-envio{
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }
    .text-origen{
        width: auto;
    }
    img{
        width: 100%;
        max-width: 300px; 
        height: auto;
    }

}

