.somos-activo {
  font-weight: bold;
}

.quienes-somos {
  color: var(--primario);
  font-size: 3em;
  text-align: center;
  margin-top: 0.5em;
}

.historia-imagen {
  display: none;
}

.historia-texto {
  font-size: 1.1em;
  line-height: 2em;
  min-width: 0;
  flex: 1;
}

.historia-texto p {
  padding-bottom: 0.5em;
}

.nuestras-pasiones {
  background-image: url(../img/Nuestras-pasiones.jpg);
  background-position: 0%;
  background-size: cover;
  border-radius: 0.5em;
  padding: 1em 2em 2em;
  width: 100%;
  margin-top: 2em;
}

.claves {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2em;
  text-align: center;
}

.claves h2 {
  width: 100%;
  font-size: 2.5em;
  color: var(--blanco);
}

.claves article {
  width: 20em;
  height: 22em;
  background-color: var(--blanco);
  border-radius: 0.5em;
  padding: 1.5em 1em;
  transition: transform 0.3s ease;
}

.claves article img {
  width: 9em;
}

.claves article h3 {
  font-size: 1.4em;
  font-weight: bold;
  color: #2d2d2d;
  margin-bottom: 0.5em;
}

.claves article p {
  font-size: 1.1 em;
  line-height: 1.5em;
  color: #555;
}

@media (min-width: 768px) {

  .historia-texto {
    font-size: 1.02em;
  }

  /* Nuestras Pasiones */
  .nuestras-pasiones {
    background-position: center;
  }
}

@media (min-width: 1450px) {
  .historia-imagen {
    display: inline;
    margin-top: 0.7em;
    width: 40%;
    max-width: 300px;
    flex-shrink: 0;
  }

  .historia {
    display: flex;
    gap: 2em;
    margin: 0 auto;
    align-items: flex-start;
  }

  .historia-imagen img {
    width: 100%;
    border-radius: 0.5em;
    height: auto;
    display: block;
  }

  .historia-texto {
    font-size: 1.1em;
  }

  .nuestras-pasiones {
    margin-top: 3em;
  }

  .claves article {
    width: 15em;
    height: 24em;
  }

  .claves article h3 {
    font-size: 1.1em;
  }
}
